<div class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading">Related</h2>
            </div>
        </div>
        <div class="row justify-content-center">
        {% for relatedArticle in relatedArticles %}
            <div class="col-lg-12">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <img src="{{ relatedArticle.cover }}" alt="{{ relatedArticle.titre }}" class="img-fluid">
                    </div>
                    <div class="content">
                        <div class="post-meta mb-3">
                            <a href="{{ url('app_category', {'slug': relatedArticle.category.slug}) }}" class="category">{{ relatedArticle.category.titre }}</a> &mdash;
                            <span class="date">{{ relatedArticle.createdAt | date('M, d Y')}}</span>
                        </div>
                        <h2 class="heading"><a href="{{ url('app_article', {'slug': relatedArticle.slug}) }}">{{ relatedArticle.titre }}</a></h2>
                        <p>{{ relatedArticle.intro}}</p>
                        <a href="#" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="{{ relatedArticle.publisher.avatar }}" alt="Image">
                            </div>
                            <div class="text">
                                <strong>{{ relatedArticle.publisher.fullName }}</strong>
                                <span>Author, {{ relatedArticle.publisher.publishedCount }} published post</span>
                                
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>