{% extends 'base.html.twig' %}
{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
<div class="section post-section pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
            {% include 'partials/_flashes.html.twig' %}
            </div>
            <div class="col-lg-8">
                <div class="text-center">
                    <img src="{{ article.publisher.avatar }}" alt="author" class="author-pic img-fluid rounded-circle mx-auto">
                </div>
                <span class="d-block text-center">{{ article.publisher.fullName }} </span>
                <span class="date d-block text-center small text-uppercase text-black-50 mb-5">{{ article.createdAt | date('M, d Y')}}</span>
                <h2 class="heading text-center">{{ article.titre }}</h2>
                <p class="lead mb-4 text-center">{{ article.intro}}</p>
                <div class="text-center">
                <img src="{{ article.cover }}" alt="{{ article.titre }}"  class="img-fluid rounded mb-4">
                </div>
                <div class="lead mb-4 text-justify">
                {{ article.content | raw }}
                </div>
                <div class="row mt-5 pt-5 pb-5 border-top border-bottom">
                    <div class="col-12">
                        <span class="fw-bold text-black small mb-1">Share</span>
                        <ul class="social list-unstyled">
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12 pt-5 pb-5 ">
                        <span class="fw-bold text-black small mb-1">Comments</span>
                    </div>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="col-lg-12">
                                <div class="post-entry d-md-flex small-horizontal mb-3 p-3 card border-light text-dark bg-light">
                                    <div class="card-content">
                                        <a href="#" class="post-author d-flex align-items-center">
                                            <div class="text">
                                                <strong>{{ comment.userName}}</strong>
                                                <span class="date">{{ comment.createdAt|ago}}</span>
                                            </div>
                                        </a>
                                        <p>{{ comment.message}}</p>
                                        <span class="date fs-6">7 200 Reply</span>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="col-lg-12 d-block text-center">No comments have been posted for this article yet.</span>
                    {% endif %}
                    <div class="col-lg-12 mt-5 pt-5 pb-5 border-top">
                            {{ form_start(form , {'attr' : {'class' : 'row'}}) }}
                            {% if user %}
                                {{ form_row(form.message, {
                                    'row_attr' : {'class' : 'mb-3 form-group col-sm-12' },
                                    'attr' : {'placeholder': 'Text' }
                                    }) }}
                            {% else %}
                                {{ form_row(form.userName, {
                                    'row_attr' : {'class' : 'mb-3 form-group col-sm-6' },
                                    'attr' : {'placeholder': 'Full name' }
                                    }) }}
                                {{ form_row(form.userEmail, {
                                    'row_attr' : {'class' : 'mb-3 form-group col-sm-6' },
                                    'attr' : {'placeholder': 'Email' }
                                    }) }}
                                {{ form_row(form.message, {
                                    'row_attr' : {'class' : 'mb-3 form-group col-sm-12' },
                                    'attr' : {'placeholder': 'Text' }
                                    }) }}
                            {% endif %}
                            <div class="form-group d-grid">
                                <input type="submit" class="btn btn-success" value="LEAVE REVIEW">
                            </div>
                            {{ form_end(form, {'render_rest':false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if relatedArticles %}
{% include 'partials/_related.html.twig'%}
{% endif %}
{% endblock %}