{% extends 'base.html.twig' %}

{% block title %}HOME - SQLI | Categories{% endblock %}

{% block body %}
<div class="section pt-5 pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-9">
                <span class="fw-normal text-uppercase d-block mb-1">Categories</span>
                <h2 class="heading">'{{category.titre}}'</h2>
            </div>
        </div>
        <div class="row justify-content-center">
        {% for article in category.articles %}
            <div class="col-lg-9">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <img src="{{ article.cover }}" alt="{{ article.titre }}"  class="img-fluid">
                    </div>
                    <div class="content">
                        <div class="post-meta mb-3">
                            <a href="#" class="category">{{article.category.titre}}</a> &mdash;
                            <span class="date">{{ article.createdAt | date('M, d Y')}}</span>
                        </div>
                        <h2 class="heading"><a href="{{ url('app_article', {'slug': article.slug}) }}">{{ article.titre }}</a></h2>
                        <p>{{ article.intro}}</p>
                        <a href="#" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="https://i.pravatar.cc/45" alt="Image">
                            </div>
                            <div class="text">
                                <strong>{{ article.publisher.fullName }}</strong>
                                <span>{{ article.publisher.titre }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% include 'partials/_newsletter.html.twig'%}
{% endblock %}
