<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">

        <title>{% block title %}HOME - SQLI{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('css/tiny-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('css/glightbox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icofont-close js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <nav class="site-nav">
            <div class="container">
                <div class="site-navigation">
                    <div class="row">
                        <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
                            <a href="{{ url('app_home') }}" class="logo m-0 text-uppercase">SQLI</a>
                        </div>
                        <div class="col-md-3 order-3 order-md-1">
                            {{ render(controller('App\\Controller\\HomeController::searchForm')) }}
                        </div>
                        <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
                            <div class="d-flex">
                                <ul class="list-unstyled social me-auto">
                                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                                <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block"
                                data-toggle="collapse" data-target="#main-navbar">
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% include 'partials/_top_menu.html.twig' with {'current_menu' : app.request.attributes.get('_route')} %}
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% include 'partials/_newsletter.html.twig'%}
        
        <div class="site-footer">
            <div class="container">
                <div class="row justify-content-center copyright">
                    <div class="col-lg-7 text-center">
                        <div class="widget">
                            <ul class="social list-unstyled">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-youtube-play"></span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved
                            </p>
                            <div class="d-block">
                                <a href="#" class="m-2">Terms &amp; Conditions</a>/
                                <a href="#" class="m-2">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overlayer"></div>
        <div class="loader">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/tiny-slider.js') }}"></script>
        <script src="{{ asset('js/glightbox.min.js') }}"></script>
        <script src="{{ asset('js/aos.js') }}"></script>
        <script src="{{ asset('js/navbar.js') }}"></script>
        <script src="{{ asset('js/counter.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
